<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646270885310-g923nn1mfqic33j7u69ol4f4jkj3ra9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646270885310-g923nn1mfqic33j7u69ol4f4jkj3ra9c</string>
	<key>API_KEY</key>
	<string>AIzaSyAXRUAb1rTTT1TYd6aDv48OaEEmUxas434</string>
	<key>GCM_SENDER_ID</key>
	<string>646270885310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toda.recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-74426</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-74426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646270885310:ios:c2a77aa9224f49f7fa6def</string>
</dict>
</plist>